
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


 :root {
    --primary-color: #EC4899;
    --off-white: #C4B5FD;
    --dark-gray: #7C3AED;
 }


body {

    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: #DDD6FE;
}

hr {
    margin: 2rem 0rem;
}

/* spaces */

.spaces {
    padding: 3rem;

}



/* container */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}




/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}




/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
        display: inline;
        padding: 0rem 1rem;
}




/* nav */

.navigation {
    background-color: var(--primary-color);
    padding: 1rem 0rem;
    border-bottom-left-radius: 1rem;
    color: white;
}

.nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .link {
    color: white;
}

.nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}




/* header */

.hero {
    padding: 3rem;
}

.hero .hero-img {
    max-width: 400px;
    display: block;
    margin: auto
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray)
}

.hero .hero-heading .heading-mix {
    color: var(--primary-color)
}




/* sections */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}


.offwhite {
    background-color: var(--off-white);
}




/* footer */

.footer {
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    padding: 1rem 1rem;
    text-align:center;
    color: white;
}

.footer .link {
    color: white;
    font-weight: bold;
}

.footer ul {
    padding-inline-start: 0px;
}


.social-img{
    height: 40px;
    width: 40px;
}


.skill-img {
    height: 50px;
    width: 50px;
}